/*@import url("https://fonts.googleapis.com/css?family=Lato|Raleway|Rouge+Script");*/
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Cinzel");
.has-vertically-aligned-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

* {
  box-sizing: border-box;
}

html {
  font-family: 'Cormorant Garamond', Tahoma, sans-serif;
  width: 100%;
  min-height: 100%;
}

.header-wrapper {
  /*padding-bottom: 30px;*/
}

.navbar-item {
  line-height: 38px;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 1rem;
}

.navbar-item.is-active{
  border-bottom: 2px solid #996E6D;
}

.a.navbar-item{
  font-color: #996E6D;
}


.hero {
  /*background-image: url('../image/thiep-cuoi-banner.png');*/
  /*background-size: cover;*/
  color: white;
  /*box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);*/
  font-family: 'Cormorant Garamond', sans-serif;
  position: relative;
}

.banner-flower-1 {
  position: absolute;
  width: 350px;
  bottom: 80px;
  left: 0;
}

.banner-flower-2 {
  position: absolute;
  width: 300px;
  top: 0;
  right: 0;
}

.first-screen-wrapper.first-screen-wrapper.first-screen-wrapper {
  height: 100vh;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.first-screen-content.first-screen-content.first-screen-content {
  flex-grow: 0;
}

.hero .title {
  font-family: 'Rouge Script', sans-serif;
  font-weight: 700;
  transform: rotate(-2deg);
  font-size: 5rem;
  padding-bottom: 5px;
  color: whitesmoke;
}

.hero .title-lv2 {
  font-family: 'Cinzel', sans-serif;
  font-weight: 500;
  transform: rotate(0deg);
  font-size: 113px;
  padding-bottom: 5px;
  color: rgba(126, 110, 99, 1);
}

.hero .subtitle {
  padding: 35px;
  color: whitesmoke;
  font-size: 1.3rem;
}

.hero .subtitle-lv2 {
  padding: 35px;
  font-size: 40px;
  color: rgba(126, 110, 99, 1);
}

.hero .h-ls-14 {
  letter-spacing: 14px;
}

.hero .h-ls-2 {
  letter-spacing: 2px;
}

.hero .tempatwaktu {
  padding-top: 35px;
  font-size: 1.3rem;

}

.hero .hero-foot {
  height: 50px;
  background: white;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.082);
}

@media (max-width: 599px) {
  .hero .hero-foot {
    display: none;
  }
}

.hero .hero-foot .hero-foot--wrapper {
  margin: 12px auto;
  height: 50px;
}

.hero .hero-foot .hero-foot--wrapper .hero-menu-desktop {
  line-height: 38px;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 1rem;
  background-color: rgba(126, 110, 99, 1);
}

.hero .hero-foot .hero-foot--wrapper .hero-menu-desktop ul li {
  display: inline-block;
  padding-right: 15px;
  padding-left: 15px;
}

.hero .hero-foot .hero-foot--wrapper .hero-menu-desktop ul li.is-active a {
  border-bottom: 2px solid #fff;
}

.hero .hero-foot .hero-foot--wrapper .hero-menu-desktop ul li a {
  color: #fff;
}

.hero .hero-foot .hero-foot--wrapper .hero-menu-desktop ul li a:hover {
  color: #fff;
  transition: all .2s ease-in-out;
  border-bottom: 2px solid #fff;
}

.space80px{
  display: block;
  height: 120px;
}

.space40px{
  display: block;
  height: 40px;
}

.space24px{
  height: 24px;
}

.main-content {
  /*padding-top: 2rem;*/
  color: #000;
  font-family: 'Cormorant Garamond', sans-serif;
  background-image: url("../image/background-image.png");
  /*background-repeat: no-repeat;*/
}

.-h-background-draft {
  background-image: url("../image/background-image.png");
  background-size: cover;
}

.time-and-place-container {
  display: flex;
  /*background-color: red;*/
  flex: 1;
  position: relative;
}

.-h-fullscreen {
  height: 100vh;
}
.h-dress-code-color-1 {
  background-color: #E4D5C6;
}

.h-dress-code-color-2 {
  background-color: #7E6E63;
}

.h-dress-code-color-3 {
  background-color: #61578E;
}

.h-dress-code-color-4 {
  background-color: #010102;
}

.-h-position-relative {
  position: relative;
}

/*time and place*/

.time-and-place-wrapper-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  border-right: 1px solid rgba(126, 110, 99, 1);
}

.time-and-place-wrapper-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  border-left: 1px solid rgba(126, 110, 99, 1);
}

.time-and-place-text-1 {
  font-family: 'Cormorant Garamond', sans-serif;
  font-size: 40px;
  color: rgba(126, 110, 99, 1);
}

.time-and-place-text-1-bold {
  font-family: 'Cormorant Garamond', sans-serif;
  font-size: 80px;
  color: rgba(126, 110, 99, 1);
  font-weight: 600;
}

.time-and-place-text-2 {
  font-family: 'Cinzel', sans-serif;
  font-size: 40px;
  color: rgba(126, 110, 99, 1);
}

.time-and-place-text-2-bold {
  font-family: 'Cinzel', sans-serif;
  font-size: 80px;
  color: rgba(126, 110, 99, 1);
  font-weight: 600;
}

/*dress code*/
.dress-code-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dress-code-flower-1 {
  position: absolute;
  bottom: -20px;
  left: -50px;
  height: 1000px;
}

.dress-code-flower-2 {
  position: absolute;
  bottom: -20px;
  right: -50px;
  height: 1000px;
}

.dress-code-colors-wrapper {
  display: flex;
  justify-content: center;
  gap: 60px;
}

.dress-code {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
.dress-code-message {
  font-size: 40px;
  font-family: 'Cormorant Garamond', sans-serif;
  color: rgba(126, 110, 99, 1);
  text-align: center;
  display: flex;
  justify-content: center;
  width: 670px;
}

/*wedding timeline*/

.wedding-timeline-wrapper {
  display: flex;
  justify-content: center;
}

.wedding-timeline-img {
  width: 1050px;
}

/*wedding-gift*/

.wedding-gift-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wedding-gift-message {
  font-size: 40px;
  font-family: 'Cormorant Garamond', sans-serif;
  color: rgba(126, 110, 99, 1);
  display: block;
  width: 800px;
  text-align: center;
}

.wedding-gift-notice-wrapper {
  display: flex;
  flex-direction: column;
  font-size: 40px;
  font-family: 'Cormorant Garamond', sans-serif;
  color: rgba(126, 110, 99, 1);
  font-weight: 600;
  align-items: center;
}

.wedding-gift-notice-item-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  text-align: justify;
}

.wedding-gift-img-wrapper {
  display: flex;
  justify-content: center;
}

.wedding-gift-img {
  width: 640px;
}

.main-content .section-dark {
  background-color: #F4E2E2;
  padding: 80px 40px;
}

.main-content .section-darker {
  background-color: #EDD2D1;
  padding: 80px 40px;
}

.main-content .section-dark.resume {
  height: 400px;
  padding-top: 60px;

}

.time-and-place-divider {
  display: none;
}

.-h-hidden-in-mobile {

}

.-h-show-in-mobile {
  display: none;
}

.-h-hidden-in-laptop {

}

.-h-show-in-laptop {
  display: none;
}

@media (max-width: 1440px) and (min-width: 600px) {
  .main-content .-h-hidden-in-laptop {
    display: none;
  }

  .hero .title-lv2 {
    font-size: 80px;
  }

  .hero .subtitle-lv2 {
    font-size: 32px;
  }

  .main-content .-h-show-in-laptop {
    display: block;
   }

  .hero .hero-foot .hero-foot--wrapper {
    margin: 12px auto;
    height: 50px;
  }

  .banner-flower-1 {
    width: 200px;
  }

  .banner-flower-2 {
    width: 200px;
  }

  .main-content .time-and-place-text-1, .main-content .time-and-place-text-2, .main-content .dress-code-message, .main-content .wedding-gift-message, .main-content .wedding-gift-notice-wrapper {
    font-size: 28px;
  }

  .main-content .time-and-place-text-1-bold, .main-content .time-and-place-text-2-bold {
    font-size: 52px;
  }

  .main-content .bismillah {
    max-height: 150px;
  }

  .main-content .time-and-place-container {
    max-height: 240px;
  }

  .main-content .save-the-date-text {
    font-size: 58px;
  }

  .main-content .dress-code-flower-1 {
    height: 600px;
    bottom: 0;
  }

  .main-content .dress-code-flower-2 {
    height: 600px;
    bottom: 0;
  }

  .main-content .dress-code {
    width: 80px;
    height: 80px;
  }

  .wedding-timeline-img {
    width: 800px;
  }

  .main-content .section-title.section-title.section-title {
    font-size: 32px;
  }
}

@media (max-width: 599px) {
  .main-content .-h-hidden-in-laptop {
    display: block;
  }

  .main-content .-h-show-in-laptop {
    display: none;
  }

  .main-content .section-dark.resume {
    padding-top: 75px;
  }

  .first-screen-wrapper.first-screen-wrapper.first-screen-wrapper {
    margin-top: -52px;
  }

  .hero .subtitle-lv2 {
    font-size: 16px;
    letter-spacing: 2px;
    padding: 16px;
  }

  .hero .title-lv2 {
    padding-left: 62px;
    padding-right: 62px;
    font-size: 48px;
    margin-bottom: 0;
  }

  .hero {
    background-image: url("../image/thiep-cuoi-mobile-banner.png");
  }

  .main-content {
    background-image: url("../image/mobile-background-image.png");
  }

  .main-content .save-the-date-text {
    font-size: 32px;
  }

  .main-content .time-and-place-container {
    flex-direction: column;
    flex: none;
  }

  .main-content .time-and-place-wrapper-left {
    border-right: 0;
    gap: 12px;
    height: 180px;
    flex: none;
  }

  .main-content .time-and-place-wrapper-right {
    border-left: 0;
    gap: 12px;
    height: 180px;
    flex: none;
  }

  .main-content .time-and-place-text-1, .main-content .time-and-place-text-2 {
    font-size: 18px;
  }

  .main-content .time-and-place-text-1-bold, .main-content .time-and-place-text-2-bold {
    font-size: 30px;
  }

  .main-content .time-and-place-divider {
    position: absolute;
    display: block;
    width: 160px;
    height: 1px;
    top: 50%;
    background-color: rgba(126, 110, 99, 1);
    left: calc((100vw - 160px) / 2);
  }

  .main-content .bismillah {
    max-height: 100px;
  }

  .main-content .-h-hidden-in-mobile {
    display: none;
  }

  .main-content .-h-show-in-mobile {
    display: block;
  }

  .main-content .google-maps-btn.google-maps-btn.google-maps-btn {
    width: 160px;
    height: 44px;
    border-radius: 29px;
    background-color: rgba(126, 110, 99, 1);
  }

  .main-content .dress-code-flower-1 {
    height: 200px;
    bottom: 0;
    left: calc((100vw - 111px) / 2);
  }

  .main-content .dress-code-flower-2 {
    height: 200px;
    bottom: 0;
    top: 0;
    transform: rotate(-180deg);
    left: calc((100vw - 111px) / 2);
  }

  .main-content .dress-code {
    width: 42px;
    height: 42px;
  }

  .main-content .dress-code-message {
    font-size: 18px;
    width: 300px;
  }

  .main-content .dress-code-colors-wrapper {
    gap: 21px;
  }

  .main-content .wedding-timeline-flower-img {
    height: 100px;
    transform: rotate(-90deg);
  }

  .main-content .wedding-gift-message, .main-content .wedding-gift-notice-wrapper {
    font-size: 18px;
  }

  .main-content .wedding-gift-notice-item-wrapper {
    width: 300px;
  }

  .main-content .wedding-gift-message {
    width: 305px;
  }

  .main-content .divider {
    max-height: 150px;
  }

  .-h-background-draft {
    background-image: url("../image/mobile-background-image.png");
    background-size: cover;
  }

  .main-content .wedding-timeline-img {
    width: 320px;
  }

  .banner-flower-1 {
    width: 100px;
    bottom: 0px;
    left: 0;
  }

  .banner-flower-2 {
    width: 100px;
    top: 50px;
    right: 0;
  }

  .main-content .section-title.section-title.section-title {
    font-size: 28px;
  }
}

.main-content .section-dark.resume .title {
  padding: 20px;
}

.main-content .section-dark.resume button {
  border: 2px solid #996E6D;
  background: white;
  color: #996E6D;
  height: 50px;
  width: 250px;
  font-size: 1rem;
  text-transform: uppercase;
}

.main-content .section-dark.resume .fa-download {
  color: #996E6D;
}

.main-content .section-dark.my-work {
  padding: 80px 40px;
}

.main-content .section-cashbac {
  background-color: rgb(238, 250, 253);
  padding: 80px 40px;
}

@media (max-width: 599px) {
  .main-content .section-dark.foto-foto {
    padding: 75px 20px;
  }
}

.main-content .section-dark.foto-foto .foto-item {
  margin-bottom: 1rem;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
  border-radius: 5px;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 5px 20px rgba(14, 25, 80, 0.3);
}

.main-content .section-dark.my-work .work-item:hover {
  -webkit-transform: scale(1.055) translateY(-2px);
  transform: scale(1.055) translateY(-2px);
  -webkit-box-shadow: 0 2px 25px 0 rgba(30, 30, 30, 0.1);
  box-shadow: 0 2px 25px 0 rgba(30, 30, 30, 0.1);
}

.section-map {
  padding: 0 0 0 0 ;
}

.main-content .section-light {
  padding: 80px 40px;
}

.main-content .section-light.regular-section {
  padding-bottom: 80px;
}

.main-content .section-light.regular-section .is-larger {
  font-size: 1.2rem;
}

@media (max-width: 599px) {
  .main-content .section-light.regular-section .about-links {
    text-align: center;
  }
}

.main-content .section-light.regular-section .right-image img {
  border-radius: 11px;
  margin: 20px;
  box-shadow: 0 5px 20px rgba(14, 25, 80, 0.3);
}

@media (max-width: 599px) {
  .main-content .section-light.regular-section .right-image img {
    margin: auto;
  }
}

.main-content .section-light.skills {
  padding: 100px;
}

@media (max-width: 599px) {
  .main-content .section-light.skills {
    padding: 50px 20px 40px 20px;
    padding-bottom: 20px;
  }
}

.main-content .section-light.skills h1 {
  padding: 10px;
  font-size: 24px;
}

.main-content .section-light.contact {
  padding: 80px;
}

.main-content .section-light.contact button {
  width: 100%;
  color: white;
  height: 50px;
  font-size: 1.1rem;
  text-transform: uppercase;
  font-family: 'CormorantGaramond', sans-serif;
}

@media (max-width: 599px) {
  .main-content .section-light.contact {
    padding: 80px 40px;
  }
}

.main-content .section-color.pertanyaan {
  padding: 100px;
  background-color: #996E6D;
  color: white;
}

.main-content .section-color.pertanyaan .title,
.main-content .section-color.pertanyaan .subtitle {
  color: white;
}

.main-content .section-color.pertanyaan i {
  font-size: 3rem;
  padding: 20px;
}

.main-content .section-title {
  font-family: 'Cormorant Garamond', sans-serif;
  font-weight: 900;
  color: rgba(126, 110, 99, 1);
  text-transform: uppercase;
  font-size: 40px;
  letter-spacing: 0px;
  padding-bottom: 60px;
}

.nama-lengkap {
  font-family: 'Rouge Script', sans-serif;
  color: #996E6D;
  font-size: 3.5rem;
  letter-spacing: 0px;
  padding-bottom: 6px;
  line-height: 3.7rem;
}

.ampersand {
font-size: 5rem;
font-family: 'Rouge Script', sans-serif;
color: #996E6D;
line-height: 5rem;
display: inline-block;
vertical-align: middle;
}

.bodytext {
  font-size: 18px;
}

.save-the-date-text {
  font-size: 80px;
  font-family: 'Cinzel', sans-serif;
  color: rgba(126, 110, 99, 1);
  font-weight: 800;
}

.waktu {
  font-size: 1.4rem;
  font-family: 'CormorantGaramond', sans-serif;
}

.tanggal-angka {
  font-size: 5rem;
  font-family: 'CormorantGaramond', sans-serif;
  font-weight: 900;
  line-height: 1;
}

.tempat {
  font-size: 1.4rem;
  font-family: 'Cormorant Garamond', sans-serif;
  margin-bottom: 50px;
}


.has-vertically-align {
  vertical-align: middle;
}

.footer {
  bottom: 0;
  width: 100vw;
  padding: 10px 10px 10px 10px;
  line-height: 25px;
  text-align: center;
  vertical-align: middle;
  background: #c28285;
  color: whitesmoke;
}

.footer p {
  color: white;
  font-weight: 500;
  font-size: 10pt;
  display: inline-block;
  vertical-align: middle;
}


.main-content .no-padding-top {
  padding-top: 0px;
}

.footer img{
  margin: 10px 0px 10px 10px;
  display: inline-block;
  max-height: 24px;
  vertical-align: middle;
}

.footer a .nav-item {
  color: whitesmoke;
}

.fa-download {
  color: #43485c;
}

.divider {
  margin: 40px 25px;
  display: inline-block;
  max-height: 300px;
  vertical-align: middle;
  transform: rotate(-90deg);
}

.bismillah {
  /*margin: 25px;*/
  display: inline-block;
  max-height: 250px;
  vertical-align: middle;
  transform: rotate(-90deg);
}

#toTop {
  height: 50px;
  width: 50px;
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #996E6D;
  color: white;
  cursor: pointer;
  border-radius: 50%;
  font-size: 2rem;
  box-shadow: 0 5px 20px rgba(14, 25, 80, 0.3);
}

#toTop a {
  color: white;
}

#toTop:hover {
  background-color: #BC8887;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #F4E2E2;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px #996E6D;
  -webkit-box-shadow: inset 0 0 6px #996E6D;
  background-color: #BC8887;
}

body.preloader-site {
  overflow: hidden;
}

.preloader-wrapper {
  height: 100%;
  width: 100%;
  background: rgba(126, 110, 99, 1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999;
}

.preloader-wrapper .preloader {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 120px;
}


.btn-whatsapp:hover {
  color: white;
  background-color: #59a543;
  font-size: 1.2rem;
  border-radius: 10px;
  border: 2px solid #59a543;
  width:  210px;
  height: 65px;
  align-items: center;
  margin: 1rem;
}


.btn-whatsapp {
  background-color: #6cc751;
  width:  210px;
  height: 65px;
  color: white;
  font-size: 1.2rem;
  border-radius: 10px;
  border-left: 1px solid #6cc751;
  border-right: 1px solid #6cc751;
  border-top: 1px solid #6cc751;
  border-bottom: 1px solid #6cc751;
  align-items: center;
  margin: 1rem;

}


.btn-cta:hover {
  color:white;
  background-color: rgba(126, 110, 99, 1);
  font-size: 1.2rem;
  border-radius: 40px;
  border: 2px solid rgba(126, 110, 99, 1);
  width:  210px;
  height: 65px;
  align-items: center;
  margin: 1rem;
}

.btn-cta {
  background-color: rgba(126, 110, 99, 1);
  width:  210px;
  height: 65px;
  color: white;
  font-size: 1.2rem;
  border: 2px solid rgba(126, 110, 99, 1);
  border-radius: 40px;
  align-items: center;
  margin: 1rem;
}

.cashbac-logo-inline {
  width: 160px;
  vertical-align: middle;
}

.button-download {
  min-width: 200px;
  height: 55px;
  align-items: center;
  margin: 0.1rem;

}

.voucher-code {
  height: 55px;
  max-width: 180px;
  border: 2px solid #26ade4;
  border-radius: 10px 0 0 10px  ;
  font-size: 24px;
  padding: 15px;
}

.btn-voucher-code {
  height: 55px;
  min-width: 100px;
  border: 2px solid #26ade4;
  background-color: #26ade4;
  border-radius: 0 10px 10px 0;
  font-size: 20px;
  padding: 0;
  margin: 0;
  vertical-align: middle;
  color: white;
}

.fa-copy {
  margin-right: 5px;
}
.white
{color:ghostwhite}


.dusty-pink {color: #D8A9A8}
.dusty-pink-lighter {color: #EDD2D1}
.dusty-pink-lightest {color: #F4E2E2}
.dusty-pink-darker {color: #BC8887}
.dusty-pink-darkest {color: #996E6D}

.tile {
  border-radius: 10px;
}


.foto1 {
  background-image: linear-gradient(rgba(95, 2, 2, 0.5), rgba(48, 47, 47, 0.9)), url("../image/memory-1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat:no-repeat;
  min-height: 24rem;
}


.foto2 {
  background-image: linear-gradient(rgba(95, 2, 2, 0.5), rgba(48, 47, 47, 0.9)), url("../image/memory-2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat:no-repeat;
  min-height: 24rem;
}

.foto3 {
  background-image: linear-gradient(rgba(95, 2, 2, 0.5), rgba(48, 47, 47, 0.9)), url("../image/memory-3.jpg");
  background-size: cover;
  background-position: top;
  background-repeat:no-repeat;
  min-height: 24rem;
}

.foto4 {
  background-image: linear-gradient(rgba(95, 2, 2, 0.5), rgba(48, 47, 47, 0.9)), url("../image/memory-5.jpg");
  background-size: cover;
  background-position: top;
  background-repeat:no-repeat;
  min-height: 24rem;
}

.foto5 {
  background-image: linear-gradient(rgba(95, 2, 2, 0.5), rgba(48, 47, 47, 0.9)), url("../image/memory-8.jpg");
  background-size: cover;
  background-position: center;
  background-repeat:no-repeat;
  min-height: 24rem;
}


.foto6 {
  background-image: linear-gradient(rgba(95, 2, 2, 0.5), rgba(48, 47, 47, 0.9)), url("../image/memory-4.jpg");
  background-size: cover;
  background-position: center;
  background-repeat:no-repeat;
  min-height: 24rem;
}

.wd-foto1 {
  background-image: linear-gradient(rgba(95, 2, 2, 0.3), rgba(48, 47, 47, 0.9)), url("../image/wd-img1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat:no-repeat;
  min-height: 24rem;
}


.wd-foto2 {
  background-image: linear-gradient(rgba(95, 2, 2, 0.3), rgba(48, 47, 47, 0.9)), url("../image/wd-img2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat:no-repeat;
  min-height: 24rem;
}

.wd-foto3 {
  background-image: linear-gradient(rgba(95, 2, 2, 0.3), rgba(48, 47, 47, 0.9)), url("../image/wd-img3.jpg");
  background-size: cover;
  background-position: top;
  background-repeat:no-repeat;
  min-height: 24rem;
}

.wd-foto4 {
  background-image: linear-gradient(rgba(95, 2, 2, 0.3), rgba(48, 47, 47, 0.9)), url("../image/wd-img4.jpg");
  background-size: cover;
  background-position: top;
  background-repeat:no-repeat;
  min-height: 24rem;
}

.wd-foto5 {
  background-image: linear-gradient(rgba(95, 2, 2, 0.3), rgba(48, 47, 47, 0.9)), url("../image/wd-img5.jpg");
  background-size: cover;
  background-position: center;
  background-repeat:no-repeat;
  min-height: 24rem;
}


.wd-foto6 {
  background-image: linear-gradient(rgba(95, 2, 2, 0.3), rgba(48, 47, 47, 0.9)), url("../image/wd-img6.jpg");
  background-size: cover;
  background-position: center;
  background-repeat:no-repeat;
  min-height: 24rem;
}



.title-foto {
  font-size: 18pt;
  font-family: 'Cinzel', sans-serif;
  font-weight: 700;
  text-align: left;
  color: white;
}


.subtitle-foto {
  font-family: 'Cormorant Garamond', sans-serif;
  font-weight: 700;
  font-size: 14pt;
  font-weight: 600;
  margin-top: 15px;
  text-align: left;
  color: white;
}

.section-light {
  background-position: bottom -30px center;
  background-repeat: no-repeat;
  background-size: initial;
}

.instagram {
  color: #996E6D;
  font-size: 1.25rem;
  font-weight: 900;
  margin-top: 0.5rem;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  padding: 10px;
}
